# Server Configuration
PORT=3001
NODE_ENV=development

# MongoDB Configuration
# MONGO_URI=mongodb://localhost:27017/task-tracker
MONGO_URI = "mongodb+srv://55S2xNkw1GxdKvRX:usk4Srzi9LIf3X21@test-v7.kl-infra.com/sq2_ajr?retryWrites=true&w=majority"
# GitHub API Configuration (optional)
PAT_TOKEN=your_github_personal_access_token_here

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000
